# Ignore the virtual environment
env/
venv/
commands.md

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore database files
db.sqlite3

# Ignore logs and temp files
*.log
*.tmp

# Ignore IDE/editor files
.vscode/
.idea/
*.swp

# Ignore OS files
.DS_Store
Thumbs.db
